{{define "title"}}Home - Sunny Akins{{end}} {{define "main"}}
<section class="container mx-auto px-4 py-8">
  <h2 class="text-xl font-bold mb-4">Our Services</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="bg-white rounded-lg shadow-md p-6">
      <h3 class="font-semibold text-lg">Residential Wiring</h3>
      <p>
        Professional wiring for homes, including new construction and
        renovations.
      </p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-6">
      <h3 class="font-semibold text-lg">Commercial Installations</h3>
      <p>Electrical solutions for businesses of all sizes.</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-6">
      <h3 class="font-semibold text-lg">Emergency Repairs</h3>
      <p>24/7 emergency service for urgent electrical issues.</p>
    </div>
  </div>
</section>

<section x-data="{open: false}" class="bg-gray-200 py-8">
  <div class="container mx-auto px-4 text-center">
    <p>Get in touch for a free quote!</p>
    <button
      @click="open = !open"
      type="button"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Get a Quote
    </button>
  </div>
  <div x-show="open" id="formContainer">
    <div class="w-full max-w-md mx-auto">
      <form
        class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4"
        id="contactForm"
        action="/contact/post"
        method="POST"
      >
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Name
          </label>
          {{with .Form.FieldErrors.name}}
          <label for="" class="error">{{.}}</label>
          {{end}}
          <input
            type="text"
            name="name"
            id="name"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            autofocus
            value="{{.Form.Name}}"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input
            type="email"
            name="email"
            id="email"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
            value="{{.Form.Email}}"
          />
        </div>
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="content"
          >
            Message
          </label>
          {{with .Form.FieldErrors.content}}
          <label for="" class="errors">{{.}}</label>
          {{end}}
          <textarea
            name="content"
            id="content"
            rows="4"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required
          >
  {{.Form.Message}}</textarea
          >
        </div>
        <div class="flex items-center justify-between">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >
            Contact Me
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
{{end}}
