{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" content='{"settitleoninnerhtml": true}' />
    <title>{{template "title" .}} - Sunny Akins</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body class="bg-gray-100">
    <header class="bg-blue-800 text-white py-4 shadow-md">
      <div class="container mx-auto px-4">
        <h1 class="text-2xl font-bold">Sunny Akins Electricals</h1>
        {{template "nav" .}}
      </div>
    </header>

    <div id="main-content">
      <!-- display flash message if available -->
      {{with .Flash}}
      <div
        class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md relative"
        role="alert"
      >
        {{.}}
      </div>
      {{end}} {{template "main" .}}
    </div>

    <footer class="bg-gray-800 text-white py-4 text-center">
      <p>&copy; {{.CurrentYear}} Your Electrician</p>
    </footer>
    <script src="/static/js/htmx.min.js"></script>
  </body>
</html>
{{end}}
