{{define "form"}}
<div class="w-full max-w-md mx-auto">
  <form
    class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4"
    id="contactForm"
    hx-post="/contact/post"
    hx-target="#formContainer"
    hx-swap="innerHTML"
    method="POST"
  >
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Name
      </label>
      {{with .Form.FieldErrors.name}}
      <label for="" class="error">{{.}}</label>
      {{end}}
      <input
        type="text"
        name="name"
        id="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        autofocus
        value="{{.Form.Name}}"
        required
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input
        type="email"
        name="email"
        id="email"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
        value="{{.Form.Email}}"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="content">
        Message
      </label>
      {{with .Form.FieldErrors.content}}
      <label for="" class="errors">{{.}}</label>
      {{end}}
      <textarea
        name="content"
        id="content"
        rows="4"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      >
{{.Form.Message}}</textarea
      >
    </div>
    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Contact Me
      </button>
    </div>
  </form>
</div>
{{end}}
