{{define "flash"}} {{if .Flash}}
<div
  id="flash"
  hx-swap-oob="true"
  class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md relative"
  role="alert"
>
  <div class="flex">
    <div class="py-1">
      <svg
        class="fill-current h-6 w-6 text-teal-500 mr-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1.707-7.293l5-5a1 1 0 0 1 1.414 1.414l-5.707 5.707a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 1.414-1.414l2.293 2.293z"
        />
      </svg>
    </div>
    <div>
      <p class="text-lg font-semibold">Success!</p>
      <p>{{.Flash}}</p>
    </div>
    <!-- Close Button -->
    <button
      hx-get="/close-flash"
      hx-target="#flash"
      hx-swap="outerHTML"
      class="absolute top-0 right-0 mt-2 mr-4 text-teal-900 hover:text-teal-600"
      aria-label="Close"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
</div>
{{end}} {{end}} {{define "close-flash"}}
<div id="flash"></div>
{{end}}
