{{define "subject"}}Request Received!{{end}} 

{{define "plainBody"}} 
Hi,

Thanks for reaching out to Sunny Electricals. Your request has been received, and we will get back to you as soon as possible.

Kind regards,  
Adeyemi Akinde
{{end}} 

{{define "htmlBody"}}
<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <p>Hi,</p>
    <p>
      Thanks for reaching out to Sunny Electricals. Your request has been
      received, and we will get back to you as soon as possible.
    </p>
    <p>Kind regards,</p>
    <p>Adeyemi Akinde</p>
  </body>
</html>
{{end}}
